@keyframes progressBarAnimation {
	0% {
		background-position: -350px 0px;
	}
	100% {
		background-position: 250px 0px;
	}
}

.Sentence_progressBar {
	box-shadow: inset 0px -1px 3px 1px grey;
	position: relative;
	background-image: linear-gradient(to right, #d5c3ff 47%, white 50%, #d5c3ff 53%);
	background-position: 0px 0px;
	background-size: 600px;
	animation: progressBarAnimation 1.2s ease-out 0s infinite forwards;
}

@keyframes instructionAnimation {
	0% {
		transform: translate(-50%, -100%);
	}
	100% {
		transform: translate(-50%, -125%);
	}
}

.Sentence_instructions {
	left: 50%;
	transform: translate(-50%, -100%);
	animation: instructionAnimation 1s ease-in-out 0s infinite alternate;
}
